@charset "UTF-8";
@font-face {
  font-family: "Gotham - Book";
  src: url("/fonts/GothamBook.woff") format("woff"); }

@font-face {
  font-family: "Gotham";
  src: url("/fonts/gothambold1.woff") format("woff"); }

.hero {
  background: url("/img/hero-background.png"), linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%); }
  .hero .container .hero__navigation {
    display: flex;
    flex-direction: row;
    width: 100%; }
    .hero .container .hero__navigation .hero__navbar {
      width: 90%;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      @media screen and (max-width: 515px) {
        .hero .container .hero__navigation .hero__navbar button {
          margin-left: 20%; } }
      .hero .container .hero__navigation .hero__navbar .hero__navbar_brand {
        padding-right: 80px; }
      .hero .container .hero__navigation .hero__navbar .hero__navbar_items {
        font-family: "Gotham - Book";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase; }
        @media screen and (max-width: 992px) {
          .hero .container .hero__navigation .hero__navbar .hero__navbar_items .navbar-nav a {
            margin-left: 10px; } }
        .hero .container .hero__navigation .hero__navbar .hero__navbar_items a {
          margin-right: 20px;
          color: #ffffff;
          text-align: center; }
          .hero .container .hero__navigation .hero__navbar .hero__navbar_items a .dot {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            box-shadow: 0px 0px 3px #ffffff;
            color: #ffffff;
            margin: 0 15px; }
          .hero .container .hero__navigation .hero__navbar .hero__navbar_items a .dot:hover {
            height: 10px;
            width: 10px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            margin: 0 15px; }
          .hero .container .hero__navigation .hero__navbar .hero__navbar_items a:hover .dot {
            background-color: #fff; }
      @media screen and (max-width: 992px) {
        .hero .container .hero__navigation .hero__navbar .hero__navbar_items a {
          font-size: 20px; } }
    .hero .container .hero__navigation .social_media {
      width: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .hero .container .hero__navigation .social_media .social_media_icon {
        color: #e8e8e8;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.6px;
        margin-right: 10px; }
        .hero .container .hero__navigation .social_media .social_media_icon i.fa {
          height: 40px;
          width: 40px;
          display: inline-block;
          border-radius: 50%;
          box-shadow: 0px 0px 2px #ffffff;
          color: #ffffff; }
        .hero .container .hero__navigation .social_media .social_media_icon i.fa-facebook,
        .hero .container .hero__navigation .social_media .social_media_icon i.fa-twitter,
        .hero .container .hero__navigation .social_media .social_media_icon i.fa-instagram {
          display: flex;
          justify-content: center;
          align-items: center; }
        .hero .container .hero__navigation .social_media .social_media_icon i.fa-facebook:hover {
          color: #4141ff; }
        .hero .container .hero__navigation .social_media .social_media_icon i.fa-twitter:hover {
          color: deepskyblue; }
        .hero .container .hero__navigation .social_media .social_media_icon i.fa-instagram:hover {
          color: red; }
      @media screen and (max-width: 1200px) {
        .hero .container .hero__navigation .social_media .social_media_icon {
          margin-right: 0px; } }
    @media screen and (max-width: 1200px) {
      .hero .container .hero__navigation .social_media {
        display: flex;
        flex-direction: column; } }

.hero__description .arrow {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 25px 0; }
  .hero__description .arrow button,
  .hero__description .arrow input[type="submit"],
  .hero__description .arrow input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; }
  .hero__description .arrow i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #ffffff;
    padding: 0.5em 0.6em;
    color: #ffffff; }

.hero__description .slick-wrapper {
  /* Slider */ }
  .hero__description .slick-wrapper .myslider .item {
    width: 100%;
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .hero__description .slick-wrapper .myslider .item .title {
      height: 59px;
      color: #ffffff;
      font-family: "Gotham";
      font-size: 80px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      /* Text style for "Simple & m" */
      letter-spacing: 4px; }
    .hero__description .slick-wrapper .myslider .item .description {
      color: #ffffff;
      font-family: "Gotham - Book";
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      /* Text style for "We make th" */
      letter-spacing: 5.4px;
      padding: 40px 0;
      text-align: center; }
    @media screen and (max-width: 992px) {
      .hero__description .slick-wrapper .myslider .item .title {
        font-size: 50px; } }
    @media screen and (max-width: 768px) {
      .hero__description .slick-wrapper .myslider .item .title {
        font-size: 40px; } }
    @media screen and (max-width: 515px) {
      .hero__description .slick-wrapper .myslider .item .title {
        font-size: 30px; } }
  .hero__description .slick-wrapper .slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .hero__description .slick-wrapper .slick-dots .slick-active button:before {
      height: 10px;
      width: 10px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      margin-left: 5px;
      margin-top: 13px; }
    .hero__description .slick-wrapper .slick-dots li {
      list-style: none;
      margin: 15px 0; }
      .hero__description .slick-wrapper .slick-dots li button:before {
        color: rgba(0, 0, 0, 0); }
      .hero__description .slick-wrapper .slick-dots li button {
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 3px #ffffff;
        color: #ffffff; }
        .hero__description .slick-wrapper .slick-dots li button:hover {
          height: 10px;
          width: 10px;
          background-color: #fff;
          border-radius: 50%;
          display: inline-block; }
  .hero__description .slick-wrapper .slick-slide {
    height: 100vh !important; }
  .hero__description .slick-wrapper .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }
  .hero__description .slick-wrapper .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; }
    .hero__description .slick-wrapper .slick-list:focus {
      outline: none; }
    .hero__description .slick-wrapper .slick-list.dragging {
      cursor: pointer;
      cursor: hand; }
  .hero__description .slick-wrapper .slick-slider .slick-track,
  .hero__description .slick-wrapper .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .hero__description .slick-wrapper .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block; }
    .hero__description .slick-wrapper .slick-track:before, .hero__description .slick-wrapper .slick-track:after {
      content: "";
      display: table; }
    .hero__description .slick-wrapper .slick-track:after {
      clear: both; }
    .slick-loading .hero__description .slick-wrapper .slick-track {
      visibility: hidden; }
  .hero__description .slick-wrapper .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none; }
    [dir="rtl"] .hero__description .slick-wrapper .slick-slide {
      float: right; }
    .hero__description .slick-wrapper .slick-slide img {
      display: block; }
    .hero__description .slick-wrapper .slick-slide.slick-loading img {
      display: none; }
    .hero__description .slick-wrapper .slick-slide.dragging img {
      pointer-events: none; }
    .slick-initialized .hero__description .slick-wrapper .slick-slide {
      display: block; }
    .slick-loading .hero__description .slick-wrapper .slick-slide {
      visibility: hidden; }
    .slick-vertical .hero__description .slick-wrapper .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent; }
  .hero__description .slick-wrapper .slick-arrow.slick-hidden {
    display: none; }

.news {
  background: url("/img/hero-background.png"), linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%); }
  .news .container {
    width: 1120px;
    height: 1000px;
    display: flex;
    flex-direction: column; }
    .news .container .news__title {
      height: 275px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 100px; }
      .news .container .news__title .separator {
        /* Style for "Line" */
        width: 100px;
        height: 1px;
        background-color: #ffffff;
        margin: 40px; }
      .news .container .news__title .title__text {
        color: #ffffff;
        font-family: "Gotham";
        font-size: 44px;
        font-weight: 500;
        line-height: 22px;
        text-transform: uppercase; }
    .news .container .slick-wrapper .Slider-2 {
      display: flex;
      flex-direction: row; }
      .news .container .slick-wrapper .Slider-2 .card {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff; }
        .news .container .slick-wrapper .Slider-2 .card .title {
          color: #2c4058;
          font-family: Gotham;
          font-size: 22px;
          font-weight: 700;
          line-height: 34px;
          text-transform: uppercase;
          padding: 30px 0 0 20px; }
        .news .container .slick-wrapper .Slider-2 .card .description {
          color: #4b5562;
          font-family: "Open Sans";
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          padding: 20px 20px 35px 20px; }
        .news .container .slick-wrapper .Slider-2 .card .author {
          display: flex;
          flex-direction: row;
          padding: 0 0 30px 20px; }
          .news .container .slick-wrapper .Slider-2 .card .author .author__text {
            display: flex;
            flex-direction: column;
            margin: 0 20px; }
            .news .container .slick-wrapper .Slider-2 .card .author .author__text .author__name {
              color: #2c4058;
              font-family: "Gotham - Book";
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;
              text-transform: uppercase; }
            .news .container .slick-wrapper .Slider-2 .card .author .author__text .date {
              color: #55b7ff;
              font-family: "Gotham - Book";
              font-size: 14px;
              font-weight: 400;
              line-height: 22px; }

.galerry .container {
  display: flex;
  flex-direction: column;
  height: 950px; }
  .galerry .container .galerry__title {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px; }
    .galerry .container .galerry__title .separator {
      /* Style for "Line" */
      width: 100px;
      height: 1px;
      background-color: #2c4058;
      margin: 40px; }
    .galerry .container .galerry__title .title__text {
      color: #2c4058;
      font-family: "Gotham";
      font-size: 44px;
      font-weight: 500;
      line-height: 22px;
      text-transform: uppercase; }
  .galerry .container .gallery__content {
    display: flex;
    justify-content: center; }
    .galerry .container .gallery__content .gallery2 .row {
      display: flex;
      justify-content: space-between; }
      .galerry .container .gallery__content .gallery2 .row .pictures {
        margin: 5px; }
  .galerry .container .more__button {
    display: flex;
    justify-content: center;
    margin-top: 60px; }
    .galerry .container .more__button a.button7 {
      display: inline-block;
      color: #2c4058;
      font-family: "Gotham - Book";
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
      user-select: none;
      padding: 0.5em 2em;
      outline: none;
      border: 2px solid;
      border-radius: 1px;
      transition: 0.2s; }
    .galerry .container .more__button a.button7:hover {
      background: rgba(255, 255, 255, 0.2); }
    .galerry .container .more__button a.button7:active {
      background: white; }

.map #mapid {
  height: 700px;
  width: 100%; }

footer {
  height: 700px;
  background: url("/img/hero-background.png"), linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .footer__container {
    width: 770px;
    display: flex;
    justify-content: space-between; }
    footer .footer__container .footer__content .footer__text {
      width: 500px;
      display: flex;
      justify-content: space-between;
      padding: 50px 0; }
      footer .footer__container .footer__content .footer__text .copyright {
        color: #ffffff;
        font-family: "Gotham - Book";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px; }
      footer .footer__container .footer__content .footer__text .madeWith {
        /* Style for "Made with" */
        width: 166px;
        height: 13px;
        color: #ffffff;
        font-family: "Gotham - Book";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        /* Text style for "M, ade wit" */
        font-family: "Gotham Book";
        font-weight: 300;
        /* Text style for "ï€„" */
        font-family: "Font Awesome"; }
    footer .footer__container .social_media {
      width: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .footer__container .social_media .social_media_icon {
        color: #e8e8e8;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.6px;
        margin-right: 10px; }
        footer .footer__container .social_media .social_media_icon i.fa {
          height: 40px;
          width: 40px;
          display: inline-block;
          border-radius: 50%;
          box-shadow: 0px 0px 2px #ffffff;
          color: #ffffff; }
        footer .footer__container .social_media .social_media_icon i.fa-facebook,
        footer .footer__container .social_media .social_media_icon i.fa-twitter,
        footer .footer__container .social_media .social_media_icon i.fa-instagram {
          display: flex;
          justify-content: center;
          align-items: center; }
        footer .footer__container .social_media .social_media_icon i.fa-facebook:hover {
          color: #4141ff; }
        footer .footer__container .social_media .social_media_icon i.fa-twitter:hover {
          color: deepskyblue; }
        footer .footer__container .social_media .social_media_icon i.fa-instagram:hover {
          color: red; }
